.DS_Store
.history
.vscode
.coverage
.ruby-version
.git*

README*
.docker
DockerFile
docker-compose.yml

/api/.bundle
/api/.gitattributes

/api/log/*
/api/storage/*
/api/test
/api/tmp
/api/docs
/api/coverage

/web/node_modules